@font-face {
    font-family: rainyhearts;
    src: url("rainyhearts.ttf")format('truetype');
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  /* background-color: #fbd9cd; */
  font-family: rainyhearts, sans-serif;
  color: #ed489b;
}

P {
    font-size: 30px;

}

#project-nav {
  background-color: #fff0f6;
  padding: 10px 0;
  border-bottom: 2px solid #ffc3e1;
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-title {
  color: #ff96cb;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  color: #ff96cb;
  padding: 5px 15px;
  border: 2px solid #ffc3e1;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #ffc3e1;
  color: white;
}

/* .nav-link.active {
  background-color: #ff96cb;
  color: white;
  border-color: #ff96cb;
} */

#keyboard {
  position: relative;
  display: flex;
  height: 200px;
  user-select: none;
  /* (60px * 14 keys) = 840px total width */
  width: 840px; 
  margin: 0 auto;
}

.key {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'rainyhearts', monospace;
  cursor: pointer;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.white {
  width: 60px;
  height: 200px;
  background: #fff0f8;
  border: 1px solid #ff69b4;
  color: #ff69b4;
  z-index: 1; 
}

.black {
  position: absolute; 
  width: 40px;
  height: 120px;
  background: #ff69b4;
  color: white;
  z-index: 2; 
  border-radius: 0 0 3px 3px;
}

  .hearts {
    display: flex;
    gap: 80px; 
    margin-top: 20px;
  }

  .heart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .heart-label {
  color: #ed489b;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
  z-index: 10; 
  position: relative;
}

  .heart-button {
    width: 60px;
    height: 60px;
    background-color: #ff69b4;
    position: relative;
    transform: rotate(-45deg);
    cursor: pointer;
    transition: background-color 0.2s;
    color: #ff69b4; 
  }

  .heart-button::before,
  .heart-button::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: currentColor; 
    border-radius: 50%;
    position: absolute;
  }

  .heart-button::before {
    top: -30px;
    left: 0;
  }

  .heart-button::after {
    left: 30px;
    top: 0;
  }

  .heart-button.active {
    background-color: #ff1493;
    color: #ff1493; 
  }